body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}

h1{
    text-align: center;
    color: rgb(94, 145, 165);
}

p{
text-align: center;
color: rgb(81, 103, 104);

}